---
BasedOnStyle: llvm

---
Language: Cpp
AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: false
BinPackArguments: false
ReflowComments: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
#AllowShortBlocksOnASingleLine: Never
